@model ML.Venta
@{
    ViewData["Title"] = "carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="text-center">
        <h1>Tu Carrito</h1>
    </div>
    <hr />

    @if (Model.Carrito == null || Model.Carrito.Count == 0)
    {
        <div class="alert alert-warning" role="alert">
            Aun no tienes productos agregados ):
        </div>
    }
    else
    {
        <div class="btn-group d-flex" role="group" aria-label="Button group with nested dropdown">
            <button type="button" onclick="AbrirModal()" class="btn btn-dark"><i class="fa-solid fa-money-bill"></i> Comprar</button>
            <a type="button" class="btn btn-dark" href="@Url.Action("DeleteCarro", "Dulceria")"><i class="fa-solid fa-broom"></i> Limpiar</a>
            <a type="button" class="btn btn-outline-danger" href="@Url.Action("ProductosGetAll", "Dulceria")"><i class="fa-solid fa-door-open"></i> Regresar</a>
        </div>
        <br />
        <table class="table table-dark table-hover table-bordered table-responsive">
            <thead>
                <tr class="table-secondary">
                    <td class="text-center">Nombre</td>
                    <td class="text-center">Precio</td>
                    <td class="text-center">Imagen</td>
                    <td class="text-center">Agregar</td>
                    <td class="text-center">cantidad</td>
                    <td class="text-center">Quitar</td>
                    <td class="text-center">Eliminar</td>
                </tr>
            </thead>
            <tbody>
                @foreach (ML.Producto producto in Model.Carrito)
                {
                    <tr>
                        <td>@producto.Nombre</td>
                        <td>$ @producto.Precio</td>
                        @if (producto.Imagen != null)
                        {
                            <td class="text-center"><img id="Img" src="data:image/*;base64,@producto.Imagen" style="width:50px ; height:50px" /></td>
                        }
                        else
                        {
                            <td class="text-center"><img id="Img" src="https://st.depositphotos.com/2934765/53192/v/450/depositphotos_531920820-stock-illustration-photo-available-vector-icon-default.jpg" style="width:50px ; height:50px" /></td>
                        }

                        <td><a class="btn btn-success" href="@Url.Action("AgregarElemento","Dulceria", new {idProducto = producto.IdProducto})"><i class="fa-solid fa-square-plus"></i></a> </td>
                        <td>@producto.Cantidad </td>
                        <td><button class="btn btn-warning"><i class="fa-solid fa-square-minus"></i></button> </td>
                        <td><button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button> </td>
                    </tr>

                }
            </tbody>
        </table>
        <label>Total: $ @Model.Total</label>
        <input type="text" id="txtLatitud" hidden />
        <input type="text" id="txtLongitud" hidden />
    }
</div>
<div class="modal fade " id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        @using (Html.BeginForm("Index", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal-content">
                <div class="modal-header alert-secondary">
                    <h5 class="modal-title" id="exampleModalLabel">Termina tu compra</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <table class="table table-dark table-hover table-bordered table-responsive">
                    <thead>
                        <tr class="table-secondary">
                            <td class="text-center">Nombre</td>
                            <td class="text-center">Precio</td>
                            <td class="text-center">Imagen</td>
                            <td class="text-center">cantidad</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ML.Producto producto in Model.Carrito)
                        {
                            <tr>
                                <td>@producto.Nombre</td>
                                <td>$ @producto.Precio</td>
                                @if (producto.Imagen != null)
                                {
                                    <td class="text-center"><img id="Img" src="data:image/*;base64,@producto.Imagen" style="width:50px ; height:50px" /></td>
                                }
                                else
                                {
                                    <td class="text-center"><img id="Img" src="https://st.depositphotos.com/2934765/53192/v/450/depositphotos_531920820-stock-illustration-photo-available-vector-icon-default.jpg" style="width:50px ; height:50px" /></td>
                                }
                                <td>@producto.Cantidad </td>
                            </tr>
                        }
                    </tbody>
                </table>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                    <a onclick="ModalCompra()" id="btnGuardar" class="btn btn-dark"><i class="fa-solid fa-truck"></i>Comprar</a>
                </div>
            </div>
        }
    </div>
</div>
<div class="modal fade " id="ModalCompra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <h5 class="modal-title" id="exampleModalLabel">Completado! <i class="fa-solid fa-check"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h2 class="text-center">Tu pedido esta en proceso!</h2>
                    <img src="https://i.pinimg.com/originals/62/dd/c4/62ddc455488a13d67f4198a09dc4bb29.gif" width="50" height="400" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                <a href="@Url.Action("GenerarPDF")" id="btnGuardar" class="btn btn-dark"><i class="fa-solid fa-file-pdf"></i> Resumen</a>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript">
        function AbrirModal() {
            $('#Modal').modal('show');
        }
        function ModalCompra() {
            $('#Modal').modal('hide');
            $('#ModalCompra').modal('show');
        }
        
        </script>
}

